version = 2

root = {{ CONTAINERD_ROOT_DIR }}
state = {{ CONTAINERD_STATE_DIR }} 

[grpc]
    address = {{ CONTAINERD_STATE_DIR }}/containerd.sock

[metrics]
    address = "127.0.0.1:1338"

[plugins]
    [plugins."io.containerd.snapshotter.v1.devmapper"]
    pool_name = {{ thinpool }}-thinpool"
    root_path = {{ DEVMAPPER_DIR }}
    base_image_size = "10GB"
    discard_blocks = true

[debug]
    level = "trace"
